body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin-top: 30px;
}
h1,
h4,
p {
  text-align: center;
}
p {
  line-height: 150%;
}
.internal-link {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  box-shadow: 5px 5px 10px darkgrey;
  transition: 100ms ease-in;
}
.internal-link:hover {
  background: #ebedee;
}
.external-link {
  text-decoration: none;
  transition: 100ms ease;
}
.external-link:hover {
  font-size: x-large;
}
.croissants-pic {
  max-width: 35%;
  height: auto;
  display: block;
  margin: auto;
  border: 3px solid #fcfafa;
  border-radius: 5px;
  box-shadow: 5px 10px 10px darkgrey;
}
